mixin main-ecosystem
    section.main-ecosystem#participants
        .container
            .main-ecosystem__title 
                h2.pink Экосистема мероприятий
        .main-ecosystem__list 
            .main-ecosystem__center 
                img(src="../img/ecosystem-logo.png", alt="")        
            .main-ecosystem__border-left 
                svg(xmlns='http://www.w3.org/2000/svg', width='874.5', height='268.28', viewBox='0 0 874.5 268.28')
                    defs
                        style.
                            .cls-1 {
                            fill: none;
                            stroke: #959595;
                            stroke-width: 1px;
                            fill-rule: evenodd;
                            }
                    path.cls-1(id='Фигура_7_копия', data-name='Фигура 7 копия', d='M-189,2383s886.812,0.05,911.214-.26c50.835-.64,73.391,9.02,96.574,26.26,29.7,22.08,54.913,56.14,55.212,106,0.536,89.33-80.025,135-132,135H-187', transform='translate(0 -2382.22)')
            .main-ecosystem__border-right
                svg(xmlns='http://www.w3.org/2000/svg', width='875.5', height='270.28', viewBox='0 0 875.5 270.28')
                    defs
                        style.
                            .cls-1 {
                            fill: none;
                            stroke: #959595;
                            stroke-width: 1px;
                            fill-rule: evenodd;
                            }
                    path.cls-1(id='Фигура_7', data-name='Фигура 7', d='M2109,2383s-886.81.05-911.21-.26c-50.84-.64-73.4,9.02-96.58,26.26-29.7,22.08-54.91,56.14-55.21,106-0.54,89.33,80.02,135,132,135h929', transform='translate(-1044.5 -2381.22)') 
            .container
                .main-ecosystem__inner
                    .main-ecosystem__left
                        .main-ecosystem__subtitle 
                            h6 Мероприятия в рамках форума: 
                        .main-ecosystem__logo-list 
                            a(href="https://akitrf.ru/" target="_blank").main-ecosystem__logo
                                img(src="../img/ecosystem1.png", alt="")
                            a(href="" target="_blank").main-ecosystem__logo
                                img(src="../img/ecosystem2.png", alt="")
                            a(href="https://svfair.ru/" target="_blank").main-ecosystem__logo
                                img(src="../img/ecosystem3.png", alt="")
                            a(href="http://fnksibfest.ru/ " target="_blank").main-ecosystem__logo
                                img(src="../img/ecosystem4.png", alt="")
                            a(href="" target="_blank").main-ecosystem__logo
                                img(src="../img/ecosystem5.png", alt="")
                    .main-ecosystem__right
                        .main-ecosystem__subtitle 
                            h6 Мероприятия институтов развития: 
                        .main-ecosystem__logo-list 
                            a(href="http://2035.university/" target="_blank").main-ecosystem__logo
                                img(src="../img/ecosystem6.png", alt="")
                            a(href="http://sk.ru" target="_blank").main-ecosystem__logo
                                img(src="../img/ecosystem7.png", alt="")
                            a(href="https://asi.ru/" target="_blank").main-ecosystem__logo
                                img(src="../img/ecosystem8.png", alt="")
                            

            