mixin header 
    .header 
        .container 
            .header__inner 
                .header__logo
                    a(href="#" target="_blank").header__logo-item 
                        img(src="../img/logo1.png", alt="") 
                    a(href="#" target="_blank").header__logo-item 
                        img(src="../img/logo2.png", alt="") 
                    a(href="#" target="_blank").header__logo-item 
                        img(src="../img/logo3.png", alt="") 
                ul.header__nav
                    li.header__nav-item 
                        a(href="#news") Новости  
                    li.header__nav-item 
                        a(href="#forum") О форуме
                .header__lang 
                    .header__lang-item.current 
                        a(href="#") Rus
                    .header__lang-item 
                        a(href="#") Eng 
                    .header__lang-item 
                        a(href="#") 中文
                .header__social 
                    a(href="").header__social-item 
                        img(src="../img/telegram.png", alt="telegram") 
                    a(href="").header__social-item 
                        img(src="../img/vk.png", alt="vk") 
                    a(href="").header__social-item 
                        img(src="../img/id.png", alt="id") 


            