mixin main-preview 
    section.main-preview(style="background-image: url('../img/preview-bg.png')")
        .main-preview__inner  
            .container
                .main-preview__content 
                    h4.white  23-26 августа 2022, Новосибирск
                    p IX Международный форум  технологического развития 
                    h1.white «Технопром–2022»
            //- .main-preview__bg 
                img(src="../img/preview-bg.png", alt="")

