mixin main-news 
    section.main-news#news 
        .container 
            .main-news__title 
                h2.pink Новости
            .main-news__list 
                .main-news__item 
                    .main-news__img 
                        img(src="../img/news1.png", alt="")
                    .main-news__content 
                        .main-news__time 
                            time(datetime="2022-03-09")
                                span 09.03 
                                | / 2022
                        .main-news__text 
                            p Медицинская компания &laquo;Инвитро&raquo; стала главным диагностическим партнером &laquo;Технопром &minus;2021&raquo;
                        .main-news__link 
                            a(href="#") Читать далее 
                .main-news__item 
                    .main-news__img  
                        img(src="../img/news2.png", alt="")
                    .main-news__content 
                        .main-news__time 
                            time(datetime="2022-03-09")
                                span 09.03 
                                | / 2022
                        .main-news__text 
                            p 77&nbsp;тысяч человек приняли участие в&nbsp;работе &laquo;Технопрома-2021&raquo; в&nbsp;режиме онлайн
                        .main-news__link 
                            a(href="#") Читать далее
                .main-news__item 
                    .main-news__img 
                        img(src="../img/news3.png", alt="")
                    .main-news__content 
                        .main-news__time 
                            time(datetime="2022-03-09")
                                span 09.03 
                                | / 2022
                        .main-news__text 
                            p Медицинская компания &laquo;Инвитро&raquo; стала главным диагностическим партнером &laquo;Технопром &minus;2021&raquo;
                        .main-news__link 
                            a(href="#") Читать далее
                .main-news__item 
                    .main-news__img 
                        img(src="../img/news4.png", alt="")
                    .main-news__content 
                        .main-news__time 
                            time(datetime="2022-03-09")
                                span 09.03 
                                | / 2022
                        .main-news__text 
                            p 77&nbsp;тысяч человек приняли участие в&nbsp;работе &laquo;Технопрома-2021&raquo; в&nbsp;режиме онлайн
                        .main-news__link 
                            a(href="#") Читать далее
