mixin modal-gallery 
    .modal-gallery.js-modal-gallery
        .modal-gallery__wrapper
                .modal-gallery__inner.js-modal-gallery-inner 
                    .modal-gallery__title 
                        h5.blue Наука как индустрия в&nbsp;условиях идеального шторма
                    .modal-gallery__list.active
                        .js-modal-gallery-slider-prev.swiper-button-prev 
                            a(href="#") 
                                svg(width='45', height='15', viewBox='0 0 45 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd', clip-rule='evenodd', d='M7.39048 15L0.351929 7.85714L1.1771e-06 7.5L0.351929 7.14286L7.39048 0L8.09434 0.714286L1.90541 6.99493H44.5023H45V8.00508H44.5023H1.90542L8.09434 14.2857L7.39048 15Z', fill='#0b5ba1')
                        .swiper.js-modal-gallery-slider.active
                            .swiper-wrapper 
                                .modal-gallery__slider.swiper-slide.js-modal-gallery-slider-item 
                                    img(src="../img/slider-img.png", alt="")
                                .modal-gallery__slider.swiper-slide.js-modal-gallery-slider-item 
                                    img(src="../img/slider-img.png", alt="")
                        .js-modal-gallery-slider-next.swiper-button-next
                            a(href="#") 
                                svg(width='45', height='15', viewBox='0 0 45 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd', clip-rule='evenodd', d='M37.6095 15L44.6481 7.85714L45 7.5L44.6481 7.14286L37.6095 0L36.9057 0.714286L43.0946 6.99493H0.497701H0V8.00508H0.497701H43.0946L36.9057 14.2857L37.6095 15Z', fill='#0b5ba1')
                    .modal-gallery__list
                        .js-modal-gallery-slider-prev.swiper-button-prev 
                            a(href="#") 
                                svg(width='45', height='15', viewBox='0 0 45 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd', clip-rule='evenodd', d='M7.39048 15L0.351929 7.85714L1.1771e-06 7.5L0.351929 7.14286L7.39048 0L8.09434 0.714286L1.90541 6.99493H44.5023H45V8.00508H44.5023H1.90542L8.09434 14.2857L7.39048 15Z', fill='#0b5ba1')
                        .swiper.js-modal-gallery-slider.active
                            .swiper-wrapper 
                                .modal-gallery__slider.swiper-slide.js-modal-gallery-slider-item 
                                    img(src="../img/slider-img.png", alt="")
                                .modal-gallery__slider.swiper-slide.js-modal-gallery-slider-item 
                                    img(src="../img/slider-img.png", alt="")
                        .js-modal-gallery-slider-next.swiper-button-next
                            a(href="#") 
                                svg(width='45', height='15', viewBox='0 0 45 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd', clip-rule='evenodd', d='M37.6095 15L44.6481 7.85714L45 7.5L44.6481 7.14286L37.6095 0L36.9057 0.714286L43.0946 6.99493H0.497701H0V8.00508H0.497701H43.0946L36.9057 14.2857L37.6095 15Z', fill='#0b5ba1')
                    .modal-gallery__list
                        .js-modal-gallery-slider-prev.swiper-button-prev 
                            a(href="#") 
                                svg(width='45', height='15', viewBox='0 0 45 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd', clip-rule='evenodd', d='M7.39048 15L0.351929 7.85714L1.1771e-06 7.5L0.351929 7.14286L7.39048 0L8.09434 0.714286L1.90541 6.99493H44.5023H45V8.00508H44.5023H1.90542L8.09434 14.2857L7.39048 15Z', fill='#0b5ba1')
                        .swiper.js-modal-gallery-slider.active
                            .swiper-wrapper 
                                .modal-gallery__slider.swiper-slide.js-modal-gallery-slider-item 
                                    img(src="../img/slider-img.png", alt="")
                                .modal-gallery__slider.swiper-slide.js-modal-gallery-slider-item 
                                    img(src="../img/slider-img.png", alt="")
                        .js-modal-gallery-slider-next.swiper-button-next
                            a(href="#") 
                                svg(width='45', height='15', viewBox='0 0 45 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd', clip-rule='evenodd', d='M37.6095 15L44.6481 7.85714L45 7.5L44.6481 7.14286L37.6095 0L36.9057 0.714286L43.0946 6.99493H0.497701H0V8.00508H0.497701H43.0946L36.9057 14.2857L37.6095 15Z', fill='#0b5ba1')
                    .modal-gallery__tabs 
                        .modal-gallery__tab
                            a(href="#" data-tab="0").button.blue.js-modal-gallery-tab.active Альбом 
                        .modal-gallery__tab
                            a(href="#" data-tab="1").button.blue.js-modal-gallery-tab Название альбома 2 
                        .modal-gallery__tab
                            a(href="#" data-tab="2").button.blue.js-modal-gallery-tab  Третий альбом


                            






