mixin main-audience 
    section.main-audience   
        .container 
            .main-audience__inner 
                .main-audience__item 
                    h2.pink Аудитория форума
                .main-audience__item 
                    ul 
                        li 
                            p Руководители и&nbsp;представители федеральных органов государственной власти, субъектов Российской Федерации
                        li 
                            p Госкорпорации, промышленные предприятия, холдинги

                        li 
                            p Венчурные инвесторы и&nbsp;технологические предприниматели
                .main-audience__item 
                    ul 
                        li 
                            p Образовательные и&nbsp;научно-исследовательские организации
                        li 
                            p Институты развития в&nbsp;сфере науки, технологий и&nbsp;инноваций
                        li 
                            p Исследователи, ученые, инженеры, разработчики, изобретатели 
                        li 
                            p Преподаватели, аспиранты, студенты

                .main-audience__item 
                    ul 
                        li 
                            p Академгородки, наукограды, особые экономические зоны, территории опережающего социально- экономического развития
                        li 
                            p Субъекты научно-технологической и&nbsp;инновационной инфраструктуры: центры коллективного пользования, инжиниринговые центры, центры прототипирования, центры трансфера технологий, технопарки, кластеры
