mixin main-content
    section.main-content#forum 
            .container 
                .main-content__row 
                    .main-content__col
                        .main-content__info 
                            h2.blue ТЕХНОПРОМ-2022 &minus; крупнейшее технологическое мероприятие в&nbsp;Россиии
                    .main-content__col
                        .main-content__info 
                            h3 &laquo;Технологический суверенитет и&nbsp;устойчивое развитие России&raquo; Регистрация участников с&nbsp;1&nbsp;июня.
                            p Цель форума&nbsp;&mdash; содействие в&nbsp;обеспечении технологического суверенитета, устойчивого экономического и&nbsp;социального развития Российской Федерации за&nbsp;счёт повышения технологической обеспеченности, развития национальной научной и&nbsp;промышленной инфраструктуры.
                .main-content__row 
                    .main-content__col 
                        .main-content__info 
                            h3 &laquo;Технопром&raquo; стал эффективной площадкой для обсуждения вопросов научно-технологического развития России, центром притяжения ярких и&nbsp;талантливых преподавателей, учёных, экспертов из&nbsp;разных регионов России и&nbsp;зарубежья&quot;.
                            p 
                                strong Дмитрий Чернышенко
                            p Вице-премьер, председатель организационного комитета по&nbsp;подготовке и&nbsp;проведению &laquo;Технопрома-2022&raquo;
                    .main-content__col 
                        .main-content__img
                            img(src="../img/main-content-img.png", alt="")