mixin main-organizers 
    section.main-organizers#partners 
        .container 
            .main-organizers__title 
                h2.pink Организаторы форума
            .main-organizers__header 
                a(href="" target="_blank").main-organizers__header-item 
                    img(src="../img/organizers1.png", alt="")
                    p Правительство  Российской Федерации
                a(href="" target="_blank").main-organizers__header-item 
                    img(src="../img/organizers2.png", alt="")
                    p Министерство науки  и высшего образования  Российской Федерации
                a(href="" target="_blank").main-organizers__header-item 
                    img(src="../img/organizers3.png", alt="")
                    p Правительство  Новосибирской области
                a(href="" target="_blank").main-organizers__header-item 
                    img(src="../img/organizers4.png", alt="")
                    p Сибирское отделение  РАН
            .main-organizers__list 
                .main-organizers__item
                    .main-organizers__item-title 
                        h3.blue Генеральный 
                                    br 
                                    | партнер
                    .main-organizers__logo-list 
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers5.png", alt="")
                .main-organizers__item
                    .main-organizers__item-title 
                        h3.blue Информационные 
                                    br 
                                    | партнеры
                    .main-organizers__logo-list 
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers6.png", alt="")
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers7.png", alt="")
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers8.png", alt="")
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers9.png", alt="")
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers10.png", alt="")
                        a(href="https://asi.ru/" target="_blank").main-organizers__logo  
                            img(src="../img/organizers11.png", alt="")
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers12.png", alt="")
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers13.png", alt="")
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers14.png", alt="")
                        a(href="http://2035.university/" target="_blank").main-organizers__logo  
                            img(src="../img/organizers15.png", alt="")
                        a(href="http://sk.ru" target="_blank").main-organizers__logo  
                            img(src="../img/organizers16.png", alt="")
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers17.png", alt="")
                .main-organizers__item
                    .main-organizers__item-title 
                        h3.blue Стратегические 
                                    br 
                                    | партнеры
                    .main-organizers__logo-list 
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers18.png", alt="")
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers19.png", alt="")
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers20.png", alt="")
                        a(href="" target="_blank").main-organizers__logo  
                            img(src="../img/organizers21.png", alt="")
            .main-organizers__button 
                +button('Стать партнёром', 'blue')
                        

                    
            
            
