@font-face {
    font-family: "PF Din Display Pro";
    src: url("../fonts/PFDinDisplayPro-Regular.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
      font-family: "PF Din Display Pro";
      src: url("../fonts/PFDinDisplayPro-Bold.woff2") format("woff2"),
           url("../fonts/PFDinDisplayPro-Bold.woff") format("woff");
      font-style: normal;
      font-weight: 700;
  }

  